<!DOCTYPE html>
<html>
    <head>
        <title><%= title%></title>
        
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/anthony">Anthony</a></li>
                <li><a href="/david">David</a></li>
                <li><a href="/connie">Connie</a></li>
                <li><a href="/kiana">Kiana</a></li>
            </ul>
        </nav>