<% include partials/header.ejs %>

    <h1><%= title%></h1>
    <p>Anthony is enrolled as a full time student as a Computer Programmer at Georgian College. He likes to play video games and learn about software development.</p>

<% include partials/footer.ejs %>