<% include partials/header.ejs %>

    <h1><%= title%></h1>
    <p>Connie used to be the manager of MBM Shows through the Barrie Advance, but now runs her own business doing residental and commercial cleaning. She likes cooking and gardening.</p>

<% include partials/footer.ejs %>