<% include partials/header.ejs %>

    <h1><%= title%></h1>
    <p>David used to be a social worker at Children's Aid Society and now runs his own family councelling services. He likes to watch TV and talk to his friends.</p>

<% include partials/footer.ejs %>