<% include partials/header.ejs %>

    <h1><%= title%></h1>
    <p>Kiana is a Grade 5 student currently enrolled at Huronia Centennial Elementary School. She likes to do gymnastics and ice skate.</p>

<% include partials/footer.ejs %>